.DS_STORE
dist

#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/